<!DOCTYPE>
<html>
    <head>
        <title>student list</title>
        <script src="/js/lib/jquery-1.7.2.js"></script>
        <script src="/js/lib/underscore.js"></script>
        <script src="/js/lib/backbone.js"></script>
        <script src="/js/lib/mustache.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/student.css">
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.21.custom.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>number</td>
                    <td>name</td>
                    <td>gender</td>
                    <td>school</td>
                    <td>major</td>
                    <td>birthday</td>
                    <td>region</td>
                    <td>profile</td>
                    <td>operate</td>
                </tr>
            </thead>
            <tbody>
                {list}
                <tr>
                    <td>{number}</td>
                    <td>{name}</td>
                    <td>{gender}</td>
                    <td>{school}</td>
                    <td>{major}</td>
                    <td>{birthday}</td>
                    <td>{province}&nbsp;{city}</td>
                    <td>{profile}</td>
                    <td>
                        <a class="edit" href="javascript:void(0);">[edit]</a>
                        <a class="delete" href="javascript:void(0);">[delete]</a>
                    </td>
                </tr>
                {/list}
            </tbody>
            <tfoot>
                <tr id="J_new_row" class="none">
                    <td><input id="J_number" type="text" name="number"/></td>
                    <td><input type="text" name="name"/></td>
                    <td>
                        <input id="gender0" type="radio" value="0" name="gender"/>
                        <label for="gender0">female</label>
                        <input id="gender1" type="radio" value="1" name="gender"/>
                        <label for="gender1">male</label>
                    </td>
                    <td><input type="text" name="school"/></td>
                    <td><input type="text" name="major"/></td>
                    <td><input id="J_birthday" type="text" name="birthday" readonly/></td>
                    <td id="J_region">
                        <select id="J_province" name="province_id">
                            <option value="">----</option>
                            {provinces}
                            <option value="{id}">{name}</option>
                            {/provinces}
                        </select>
                        <select id="J_city" name="city_id">
                            <option value="">----</option>
                        </select>
                    </td>
                    <td><input type="text" name="profile"/></td>
                    <td>
                        <a id="J_add" href="javascript:void(0);">[add]</a>
                        <a id="J_cancel" href="javascript:void(0);">[cancel]</a>
                    </td>
                </tr>
                <tr>
                    <td colspan=9><a id="J_new" href="javascript:void(0);">add new student</a></td>
                </tr>
            </tfoot>
        </table>
        <p class="error none">dupplicate number</p>
        <script src="/js/student/region.js"></script>
        <script src="/js/student/student_add.js"></script>
        <script src="/js/student/student_number.js"></script>
        <script src="/js/lib/jquery-ui-1.8.21.custom.min.js"></script>
    </body>
</html>
